Γùç injecting env (10) from .env.local // tip: Γîÿ multiple files { path: ['.env.local', '.env'] }
-- SQL ASSET UPDATE START --
Successfully uploaded hair-salon-cat.png as f3935bab-0a21-403b-b69f-603dc9ce00e7
UPDATE categories SET image = 'f3935bab-0a21-403b-b69f-603dc9ce00e7' WHERE slug = 'hair-salon';
Successfully uploaded barber-cat.png as a25b6681-594f-4a55-a534-d53e9b31e37f
UPDATE categories SET image = 'a25b6681-594f-4a55-a534-d53e9b31e37f' WHERE slug = 'barber';
Successfully uploaded spa-cat.png as cab0aa7b-5b8b-486c-aa45-1f9c10164be3
UPDATE categories SET image = 'cab0aa7b-5b8b-486c-aa45-1f9c10164be3' WHERE slug = 'spa';
Successfully uploaded nail-salon-cat.png as 2453fc2b-d68b-4269-8106-89fbd9c280ee
UPDATE categories SET image = '2453fc2b-d68b-4269-8106-89fbd9c280ee' WHERE slug = 'nail-salon';
Successfully uploaded modern-barber-interior.png as 659fd1b4-9271-49b0-b375-8015b8a2028b
UPDATE vendors SET cover_image = '659fd1b4-9271-49b0-b375-8015b8a2028b' WHERE slug = 'barber-studio';
Successfully uploaded luxury-hair-salon.png as 0693ead7-727d-4363-b62c-fa8c8539aba4
UPDATE vendors SET cover_image = '0693ead7-727d-4363-b62c-fa8c8539aba4' WHERE slug = 'luxe-hair';
Successfully uploaded serene-spa-interior.png as 2406c674-15bf-416f-959c-f3654d540b0e
UPDATE vendors SET cover_image = '2406c674-15bf-416f-959c-f3654d540b0e' WHERE slug = 'serene-spa';
Successfully uploaded nail-salon-interior.png as 5c0ec2ab-ce62-4640-afea-ac0b41d2a191
UPDATE vendors SET cover_image = '5c0ec2ab-ce62-4640-afea-ac0b41d2a191' WHERE slug = 'oasis-nails';
Successfully uploaded barber-1.png as 3ac1db1c-7681-4022-af29-eca781538231
UPDATE employees SET photo = '3ac1db1c-7681-4022-af29-eca781538231' WHERE name = 'Ahmed';
Successfully uploaded stylist-1.png as c81315c7-2257-4527-bc4c-3e6d882dca9f
UPDATE employees SET photo = 'c81315c7-2257-4527-bc4c-3e6d882dca9f' WHERE name = 'Sarah';
Successfully uploaded therapist-1.png as c7c4af6f-7210-4703-a413-ac74b8e165c6
UPDATE employees SET photo = 'c7c4af6f-7210-4703-a413-ac74b8e165c6' WHERE name = 'Omar';
Successfully uploaded aesthetician-1.png as 85605b62-9bbf-4343-bed9-7cfedbc2c411
UPDATE employees SET photo = '85605b62-9bbf-4343-bed9-7cfedbc2c411' WHERE name = 'Elena';
-- SQL ASSET UPDATE END --
