Γùç injecting env (10) from .env.local // tip: Γîü auth for agents [www.vestauth.com]
-- SQL ASSET UPDATE START --
Successfully uploaded hair-salon-cat.png as 6a5ff77b-34bc-4bdf-94fb-0b8a41e1b8ca
UPDATE categories SET image = '6a5ff77b-34bc-4bdf-94fb-0b8a41e1b8ca' WHERE slug = 'hair-salon';
Successfully uploaded barber-cat.png as 9ec6c28a-a241-4c33-8ad9-ea83e280a552
UPDATE categories SET image = '9ec6c28a-a241-4c33-8ad9-ea83e280a552' WHERE slug = 'barber';
Successfully uploaded spa-cat.png as eba5812f-8a1a-4883-8fc1-699be2d78bad
UPDATE categories SET image = 'eba5812f-8a1a-4883-8fc1-699be2d78bad' WHERE slug = 'spa';
Successfully uploaded nail-salon-cat.png as b57b3041-608b-493d-8fc9-81cb5fe75df8
UPDATE categories SET image = 'b57b3041-608b-493d-8fc9-81cb5fe75df8' WHERE slug = 'nail-salon';
Successfully uploaded modern-barber-interior.png as 0605bc87-c9ad-4776-a0e8-e7a0b7eb6a5c
UPDATE vendors SET cover_image = '0605bc87-c9ad-4776-a0e8-e7a0b7eb6a5c' WHERE slug = 'barber-studio';
Successfully uploaded luxury-hair-salon.png as c135dfb8-705b-4998-990d-81b7372009c5
UPDATE vendors SET cover_image = 'c135dfb8-705b-4998-990d-81b7372009c5' WHERE slug = 'luxe-hair';
Successfully uploaded serene-spa-interior.png as ba3246e7-d170-48df-bde8-c919876f75c9
UPDATE vendors SET cover_image = 'ba3246e7-d170-48df-bde8-c919876f75c9' WHERE slug = 'wellness-spa';
Successfully uploaded nail-salon-interior.png as 2c6ccde1-c342-4cc0-a135-8206b6a6e91e
UPDATE vendors SET cover_image = '2c6ccde1-c342-4cc0-a135-8206b6a6e91e' WHERE slug = 'oasis-nail-bar';
Successfully uploaded barber-1.png as 8213c567-7ceb-41ee-9824-45af8ce9509b
UPDATE employees SET photo = '8213c567-7ceb-41ee-9824-45af8ce9509b' WHERE name = 'Ahmed';
Successfully uploaded stylist-1.png as db9d84ad-3f82-4869-8f2e-c069a0a79036
UPDATE employees SET photo = 'db9d84ad-3f82-4869-8f2e-c069a0a79036' WHERE name = 'Sarah';
Successfully uploaded therapist-1.png as 938fd8e3-899d-4805-8cf6-4ba8eff08996
UPDATE employees SET photo = '938fd8e3-899d-4805-8cf6-4ba8eff08996' WHERE name = 'Omar';
Successfully uploaded aesthetician-1.png as f2ea1642-3292-47dd-b3f2-3e5f8702b0ed
UPDATE employees SET photo = 'f2ea1642-3292-47dd-b3f2-3e5f8702b0ed' WHERE name = 'Elena';
-- SQL ASSET UPDATE END --
