Γùç injecting env (10) from .env.local // tip: Γîÿ enable debugging { debug: true }
-- SQL ASSET UPDATE START --
Successfully uploaded hair-salon-cat.png as 2d257cf4-58ae-4f45-a661-c8a6ee6e08e1
UPDATE categories SET image = '2d257cf4-58ae-4f45-a661-c8a6ee6e08e1' WHERE slug = 'hair-salon';
Successfully uploaded barber-cat.png as 729db0df-baf2-49b0-959c-87a897212518
UPDATE categories SET image = '729db0df-baf2-49b0-959c-87a897212518' WHERE slug = 'barber';
Successfully uploaded spa-cat.png as 650fdb14-99f6-4948-b3e5-eb2cad978a68
UPDATE categories SET image = '650fdb14-99f6-4948-b3e5-eb2cad978a68' WHERE slug = 'spa';
Successfully uploaded nail-salon-cat.png as d336c36c-4e0b-4b27-8d97-b559fb50708e
UPDATE categories SET image = 'd336c36c-4e0b-4b27-8d97-b559fb50708e' WHERE slug = 'nail-salon';
Successfully uploaded modern-barber-interior.png as 7599116e-5bcc-46c2-bf39-77f9ee282a37
UPDATE vendors SET cover_image = '7599116e-5bcc-46c2-bf39-77f9ee282a37' WHERE slug = 'barber-studio';
Successfully uploaded luxury-hair-salon.png as bd750759-f528-4961-8a50-370df6913738
UPDATE vendors SET cover_image = 'bd750759-f528-4961-8a50-370df6913738' WHERE slug = 'luxe-hair';
Successfully uploaded serene-spa-interior.png as 3e097fa2-4f12-4cac-8e68-5864c5c51fe3
UPDATE vendors SET cover_image = '3e097fa2-4f12-4cac-8e68-5864c5c51fe3' WHERE slug = 'serene-spa';
Successfully uploaded nail-salon-interior.png as 4a6f8829-6b2c-4358-a302-96f5821bacd7
UPDATE vendors SET cover_image = '4a6f8829-6b2c-4358-a302-96f5821bacd7' WHERE slug = 'oasis-nails';
Successfully uploaded barber-1.png as 3939d236-127a-4cd0-823b-0d1a51bc802b
UPDATE employees SET photo = '3939d236-127a-4cd0-823b-0d1a51bc802b' WHERE name = 'Ahmed';
Successfully uploaded stylist-1.png as 99b1abf5-575c-4330-8b51-54763d9f1a62
UPDATE employees SET photo = '99b1abf5-575c-4330-8b51-54763d9f1a62' WHERE name = 'Sarah';
Successfully uploaded therapist-1.png as 8ab8a917-d192-4a6f-96b4-71f5d3960424
UPDATE employees SET photo = '8ab8a917-d192-4a6f-96b4-71f5d3960424' WHERE name = 'Omar';
Successfully uploaded aesthetician-1.png as 37a289fe-9a79-4983-8c0e-a9a3cfc44274
UPDATE employees SET photo = '37a289fe-9a79-4983-8c0e-a9a3cfc44274' WHERE name = 'Elena';
Successfully uploaded glamour-salon-interior.jpg as bf1e5cc1-dcfd-4867-b6dc-337192b3427c
-- Placeholder Extra 1: bf1e5cc1-dcfd-4867-b6dc-337192b3427c
Successfully uploaded modern-barber-shop.jpg as 060814e7-a997-4c9a-8b4f-6cac367003c5
-- Placeholder Extra 2: 060814e7-a997-4c9a-8b4f-6cac367003c5
Successfully uploaded royal-beauty-lounge.jpg as 48bbad28-4fca-47f5-9e6d-fd84be1f31a4
-- Placeholder Extra 3: 48bbad28-4fca-47f5-9e6d-fd84be1f31a4
Successfully uploaded glamour-salon-spa.jpg as 90238b8c-5931-4c60-9a52-a6f7e4399adb
-- Placeholder Extra 4: 90238b8c-5931-4c60-9a52-a6f7e4399adb
-- SQL ASSET UPDATE END --
